body {
    background-color: #f3f3f3;
}

div {
    background-color: white;
    margin: 5%;
}

#left {
    float: left;
    width: 40%;
    height: 100%;
}

#right {
    float: right;
    width: 40%;
    height: 100%;
}

button {
    margin: 5px;
    font-size: 15px;
    float: right;
}

form {
    margin: 10px;
    font-size: 16px;
    text-align: center;
}

input {
    margin: 5px;
}

label {
    margin: 5px;
}

select {
    margin: 5px;
}

#title {
    font-size: 20px;
    text-align: center;
}